*{
margin:0;
border:0;
padding:0;
list-style:none;}


.container-fluid{
	
	max-width: 1400px;
	width: 100%;
	min-height: 840px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}


.caja1{
	
	background-image: url("../imagenes/fondo2.webp");
	background-size: cover;
	float: left;
	min-height: 1000px;
	margin-top:30px;
	border-radius: 10px;
	
}


 
 img{
 	width: 300px;
 	width: 100%;
 	height: auto;
 	padding: 10px;
 	border-radius: 25px;
 }

.boton{
	
	background-color: #EC5117;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 3px;
}

/* Dropdown Button */
.btn {
		
	  
	  background-color: #0A7CBD;
	  color: #FFFFFF;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  outline: none;
	  width: auto;
		height: auto;
		display: flex;
		border-radius: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown{
	background-color: #2AB715;
	display: flex;
	justify-content: center;
	border-radius: 3px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  top: 50px;
  text-align: center;
  transition: 3s;

  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border:2px solid black;
  border-radius: 3px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #2E202A;
	color:white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover, .dropdown:hover .btn  {
  background-color: #C7DDE9;
  color: black;
}


.caja2{

	float: right;
	min-height: 1000px;
	margin-top:30px;
	border: 7px solid #787172;
	border-radius: 10px;
	justify-content: center;
	display: flex;
	align-items: center;
	background-image: linear-gradient(to top, rgba(253, 167, 249,0), rgba(239, 226, 238,1));
	display: inline-block;

}
.top{
	margin-top: 20px;
	display: inline-block;
	height: 270px;
	text-align: center;
	width: 950px;
}

.top img{
	width: 300px;

	height: 270px;
	
}

.buttom{
	display: inline-block;
	height: 270px;
	text-align: center;
	width: 950px;
}

.buttom img{
	opacity: 0.2;
	width: 955px;
	height: 500px;
	
	
}

.card{
	width: 800px;
	height: 270px;
	top: 290px;
	left: 343px;
	position: absolute;

}

.btn-primary {
  color: #FFFFFF;
  background-color: #E664E2;
  border-color: #007bff;
  display: flex;
  justify-content: center;

 
}

/*TEMPERATURA*/

}
.seleccion{
	display: flex;
	display: inline-block;
}
.form-select{
	border:1px solid grey;
	padding: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 5px;
}

.foot{
	margin-top:365px;
	width: 950px;
	height: 50px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 50px;
}

.foot2{
	margin-top:630px;
	width: 950px;
	height: 50px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 50px;
	position: absolute;
}